<div class="container ">
    <img src="../../assets/images/AJ1/555088-402-a-prem_2000x2000.png" class="aj1" alt="aj1">
    <!-- <img src="../../assets/images/AJ1/861428-061-a-prem-04c9e858-ba86-4fbc-bfb1-b53214c0_2000x2000.png" class="aj1" alt="aj1">
     -->
    <img src="../../assets/images/AJ1/555088-700-a-prem_2000x2000.png" class="aj1" alt="aj1">
    <img src="../../assets/images/AJ1/555088-061-a-prem-9d5ca889-b334-425c-a1a9-1c8ba8b5_2000x2000.png" class="aj1" alt="aj1">
    <img src="../../assets/images/AJ1/555088-035-a-prem_2000x2000.png" class="aj1" alt="aj1">
</div>