<div class="container">
    <h1>Air Jordan 1</h1>
    
    <div class="grid-container ">
        <div class="description ">
            <h2 >
                THE ONE THAT STARTED IT ALL
            </h2>
            <p class="about-p">
                It could be said that Michael Jordan was the
                 genesis of basketball as we know it today.
                  Throughout a fiery and storied career, the 
                  tireless MJ overcame his hurdles, soaring
                   above challenge after challenge to realize 
                   the unexpected. Along the way, he redefined
                    basketball's relationship to style, the 
                    sport’s connection to youth counter-culture 
                    and the game’s creative potential.
            </p>
            <p class="about-p">
                Like Jordan himself, his eponymous footwear arrived 
                with a bang, sharing its namesake’s tradition-breaking
                 bravado. A black and red colorway violated the 
                 league’s uniform policy, earning a stern letter from 
                 league officials and generating a $5,000 fine each
                  time the player wore the shoes on court. It is with
                   this brazen charisma that the Air Jordan lineage was 
                   born.
            </p>
            <button>
                <p>
                    Learn More 
                </p>
            </button>
        </div>
        <div class="container-images">
         <app-aj-one-section-images></app-aj-one-section-images>
        </div>
    </div>
    
    
</div>
<br><br><br><br><br><br><br><br><br><br>
<br><br><br><br><br>
<br><br><br><br><br>
<br><br><br><br><br>
<br><br><br><br><br>