<div class="main-container">
    <div class="wrapper">
        <div class="media">
            <div class="container-blank">

            </div>
            <p class="side-text content-appear" >
                ON A TRAJECTORY ALL HIS OWN, JORDAN <br>
                PIONEERS A ROAD TO SUCCESS
            </p>
        </div>
        <div class="pattern">
        </div>

        
          
        <div class="box-1 box">
            <h1 class="threeborder tb1">
                4
            </h1>
        </div>
        <div class="box-2 box">
            <div class="title-1">
                Air
            </div>
        </div>
        <div class="box-3 box">
            <div class="shoe">
                <img src="../../assets/images/J4/308497-406-a-prem_600x600@2x.png" alt="">
                
            </div>
            <div class="threefill tf">
                4
            </div>
        </div>
       <div class="container-detail">
        <div class="title-2">
            Jordan 4
        </div>
        <h1 class="threeborder tb2">
            4
        </h1>
        <div class="content">
            <p class="content-appear">
                Proving his preeminent athletic prowess and distinctive
                style, Jordan closed the 1988/89 season with one of the
                game’s most notable plays. With 6 seconds left in game 5
                against Cleveland, MJ sinks “the shot”, a dexterous, 
                buzzer-beating move that continued to propel MJ along on
                his awe-inspiring journey.
            </p>
            <button class="content-appear">Learn More</button>
        </div>
       </div>
        
    </div>
</div>