.container{
    background: radial-gradient(#CBC4BE,#DBD8D3);
    margin-top: -20%;
}
.wrapper{
    display: grid;
    grid-template-columns: 30% 25% 45%  ;
    
}
.container-1{
    width: 200px;
    margin-top: 50%;
    margin-left: 20%;
    background-image: url("../../assets/images/J3/a-ma-maniere-air-jordan-3-violet-ore-dh3434-110-release-date.jpg");
    background-size: cover;
    background-position: center;
}
.container-1:hover .card{
    opacity: 1;
    -webkit-transition-duration: .5s;
    transition-duration: .5s;
    -webkit-transition-timing-function: ease-in-out;
    transition-timing-function: ease-in-out;
    
} 
.container-1 .card{
    text-align: center;
    opacity: 0;
    background: rgba(0, 0, 0, 0.685);
    margin: 10px;
    border: 2px solid white;
    -webkit-transition-duration: 0.3s;
      transition-duration: 0.3s;
      -webkit-transition-delay: 0.3s;
      transition-delay: 0.3s;
      -webkit-transition-timing-function: ease-in-out;
      transition-timing-function: ease-in-out;
}
.container-1 .card button{
    margin-top: 70%;
    margin-bottom: 70%;
    background-color: #643C29;
    border: #643C29;
    color: white;
    padding: 10px 15px;
}
.img2{
    width: 250px;
}
.container-3{
    margin-top: -20px;
    width: 565px;
    background-position: center;
    background-size: cover;
    background-image: url(../../assets/images/J3/a-ma-maniere-3-3.jfif);
    -webkit-transition: background-image 1s ease-in;
  -moz-transition: background-image 1s ease-in;
  -o-transition: background-image 1s ease-in;
  transition: background-image 1s ease-in;
}
.container-3:hover{
    background-image: url("../../assets/images/J3/Ez_uS2_XoAEev89.jpg");
    background-position: center;
    background-size: cover;
    cursor: pointer;
    -webkit-transition: background-image 0.3s ease-in;
    -moz-transition: background-image 0.3s ease-in;
    -o-transition: background-image 0.3s ease-in;
    transition: background-image 0.3s ease-in;
}
.container-3 p{
    height: 380px;
}
.section3 h3{
    
    color: white;
   text-align: right;
    margin-top: 15%;
    font-size: 50px;
}

h2{
    font-size: 100px;
    padding-left: 10%;
    margin-top: 5%;
}


@media only screen and (max-width: 1050px) {
    .container{
        margin-top: -25%;
    }
    .wrapper{
        display: grid;
        grid-template-columns: 25% 25% 50%  ;
        
    }
    .container-1{
        width: 150px;
        height: 250px;
    }
    .container-1 .card{
        opacity: 1;
        background-color: transparent;
        border:0;
    }
    .container-1 .card button{
        margin-top: 75%;
        margin-bottom: 75%;
        background-color: #643C29;
        border: #643C29;
        color: white;
        padding: 10px 15px;
    }
    .img2{
        width: 200px;
    }
    .container-3{
        width: 500px;
    }
    h2{
        font-size: 80px;
        margin-top: -5%;
        margin-left: -5%;
        font-weight: bold;
        color: #643C29;
        padding-bottom: 5%;
    }
}

@media only screen and (max-width: 800px) {
    .container{
        margin-top: -30%;
    }
    .wrapper{
        display: block;
       padding-top: 1%;
    }
    .container-1{
        margin-top: -1%;
        margin-left: 60%;
        width: 270px;
        height: 370px;   
    }
    .container-1 .card{
        display: none;
    }
    .img2{
        width: 350px;
        margin-top: -45%;
    }
    .section3 h3{
        display: none;
    }
    
    .container-3{
        margin-top: 5px;
        width: 565px;
        margin-left: 25%;
    }
    h2{
        font-size: 80px;
        text-align:left;
        margin-top: -5%;
    }
    .learnPh{
        margin-top: 10%;
        border: 1px solid #643C29;
        display: block;
        margin-left: 65%;
        background-color: #643C29;
    border: #643C29;
    color: white;
    padding: 20px 25px;
    font-size: 30px;
    
    }
}

@media only screen and (min-width: 801px) {
    .learnPh{
        display: none;       
       }
}

@media only screen and (max-width: 450px) {
    .container{
        margin-top: -60%;
    }
    .container-1{
        width: 170px;
        height: 270px; 
        margin-left: 50%;  
    }
    .container-3{
        width: 300px;
        height: 200px;
    }
    .img2{
        width:170px;
        margin-top: -40%;
        
    }
    h2{
        
        font-size: 40px;
        text-align:left;
        margin-top: 10%;
    }
    .learnPh{
        margin-top: 25%;
    padding: 12px 15px;
    font-size: 15px;
    margin-left: 60%;
    }
}