<div class="container">
    <div class="wrapper">
        <div class="details appeartext">
            <h1>
                Michael Jordan
            </h1>
            
            <h2>
                The Creator
            </h2>
        </div>
        <div class="hero">
            <img src="../../assets/images/New folder/Untitled-1.jpg" class="model-left" alt="">
            <img src="../../assets/images/New folder/Untitled-2.jpg" class="model-right" alt="">
        </div>
        <div class="description appeartext">
            <p>
                The original Air Jordan sneakers were <br>
                produced exclusively for Michael Jordan <br>
                in late 1984, and released to the <br>
                public on April 1, 1985. <br>
            </p>
            <button>
                Learn More
            </button>
        </div>
    </div>
</div>