<div class="container">
    <div class="wrapper">
        <div class="logo">
            <h1>
                <span>Air <br> Jordan <br> 1</span>
            </h1>
        </div>
        <div class="menu-links appear-text">
            <ul>
                <li>High</li>
                <li>Mid</li>
                <li>Low</li>
            </ul>
        </div>
        <div class="scrolldown">
            scroll
        </div>
    </div>
   
    <div class="text">
        
        <app-ellipse></app-ellipse>
        
        <div class="title appear-text">
            Air Jordan 1
        </div>
        
        <p class="appear-text">
            THE ONE THAT STARTED IT ALL
            <br>
            1985
        </p>
        <div class="container-end-ph">
            <div class="learnmore">
                <a href="">
                    Learn More <i class="fas fa-angle-double-right"></i>
                </a>
            </div>
        </div>
    </div>
    <div class="container-end">
        <div class="container-blank">

        </div>
        <div class="learnmore">
            <a href="">
                Learn More <i class="fas fa-angle-double-right"></i>
            </a>
        </div>
    </div>
</div>


<br><br>
<br><br>
<br><br>
<br><br>
<br><br>
<br><br>
<br><br>
<br><br>
